<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <!-- Add your CSS stylesheets here -->
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <header>
        {{#if signedIn}}
            <h1>Welcome, {{ username }}!</h1>
            <img src="{{ userPhoto }}" alt="{{ username }}'s Profile Picture">
            <p>Status: Signed In</p>
        {{else}}
            <h1>Guest User</h1>
            <p>Status: Sign Out</p>
        {{/if}}
    </header>

    <!-- Add your main content here -->
    {{ body }}

    <!-- Add your JavaScript files here -->
    <script src="main.js"></script>
</body>
</html>
